################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Release
/x64/Debug
/Debug
/.vs/Project7/v16
/34.txt
/t.txt
/Project7.vcxproj.user
/Project7.vcxproj.filters
/Project7.vcxproj
/Project7.sln
/g.txt
/dasd.txt
